@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


// Colors
$darkGreen: #2f5349;
$softWhite: #f4f8f7;
$mustardYellow: #efc86b;



// Flex Mixin
@mixin flex($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

// Font Mixin
@mixin primary-font($size, $weight) {
    font-family: 'Rufina', serif;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: 0.1rem;
}

@mixin secondary-font($size, $weight) {
    font-family: 'Nunito', serif;
    font-size: $size;
    font-weight: $weight;
}


@mixin third-font($size, $weight) {
    font-family: 'Ubuntu', sans-serif;
    font-size: $size;
    font-weight: $weight;
}