@import '../../../config';

.contribute {
    @include flex(center, flex-start, column);
    padding: 0% 10% 5% 10%;
    background: $softWhite;
    width: 100%;
    
    .contribute-text {
        @include primary-font($heading1, 700);
        color: $darkGreen;
        line-height: 3.2rem;
        margin-bottom: 2%;
    }
    .donate-link {
        @include secondary-font(1.3rem, 700);
        color: $softWhite;
        border: 1px solid $mustardYellow;
        background: $mustardYellow;
        padding: 30px 40px;
        transition: 0.3s all ease-in-out;
        &:hover {
            background: $softWhite;
            color: $mustardYellow;
        }
    }
}

@media only screen and (min-device-width: 3000px) and (max-device-width: 4000px) {
    .contribute {
        .contribute-text {
            font-size: $heading1 * 2.4;
            margin-bottom: 2% * 2.4;
        }
        .donate-link {
            font-size: 1.7rem * 2.4;
            padding: 100px 150px;
        }
    }
}

@media only screen and (min-device-width: 2500px) and (max-device-width: 3000px) {
    .contribute {
        .contribute-text {
            font-size: $heading1 * 1.8;
            margin-bottom: 2% * 1.8;
        }
        .donate-link {
            font-size: 1.7rem * 1.8;
            padding: 75px 110px;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) {
    .contribute {
        align-items: center;
        padding-bottom: 10%;
        .contribute-text {
            width: auto;
            font-size: 2rem;
        }
    }
}

@media only screen
and (min-device-width: 280px)
and (max-device-width: 767px) {
    .contribute {
        align-items: center;
        padding: 10% 10% 15% 10%;
        .contribute-text {
            width: 100%;
            font-size: 2rem;
        }
    }
}