@import "../../../config";

.achievements {
    @include flex(center, center, row);
    width: 100vw;
    padding: 4% 10%;
    background: $softWhite;
    .achievements-subcontainer {
        height: 100%;
        width: 50%;
        position: relative;
        .achievement {
            width: 50%;
            height: 100%;
            @include flex(flex-start, center, column);
            padding:  5% 5% 5% 12%;
            .number {
              
                @include primary-font(2.5rem, 700);
                color: $mustardYellow;
                margin-bottom: 10px;
            }
            .description {
                height: 50%;
                width: 80%;
                @include secondary-font(0.8rem, 400);
                color: $darkGreen;
                span {
                    @include secondary-font(0.8rem, 700);
                }
            }
        }

        .border-top {
            position: absolute;
            height: 1px;
            width: 60px;
            background: $darkGreen;
            top: 0;
            left: 0;
        }
        .border-left {
            position: absolute;
            width: 1px;
            height: 100px;
            background: $darkGreen;
            top: 0;
            left: 0;
        }
        .border-bottom {
            position: absolute;
            height: 1px;
            width: 60px;
            background: $darkGreen;
            bottom: 0;
            right: 0;
        }
        .border-right {
            position: absolute;
            width: 1px;
            height: 100px;
            background: $darkGreen;
            bottom: 0;
            right: 0;
        }
    }
    .left-top-container {
        @include flex(center, flex-end, row);
    }
    .right-bottom-container {
        @include flex(center, flex-start, row);
    }

}


@media only screen
and (min-device-width: 1280px)
and (max-device-width: 1480px) {
    .achievements {
        height: 35vh;
        .achievements-subcontainer {
            .achievement {
                .number {
                    font-size: 2.7rem;
                }
                .description {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen
and (min-device-width: 1080px)
and (max-device-width: 1280px) {
    .achievements {
        height: 32vh;
        .achievements-subcontainer {
            .achievement {
                .number {
                    font-size: 2.2rem;
                }
                .description {
                    font-size: 0.8rem;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1080px) {
    .achievements {
        height: 25vh;
        .achievements-subcontainer {
            height: 90%;
            .achievement {
                padding: 2% 5%;
                .number {
                    font-size: 2.2rem;
                   
                }
                .description {
                    font-size: 0.8rem;
                    width: 100%;
                    height:40%;
                }
            }
        }
    }
}


@media only screen
and (min-device-width: 280px)
and (max-device-width: 767px) {
    .achievements {
        flex-direction: column;
        height: 50vh;
        padding: 8% 5%;
        .achievements-subcontainer {
            width: 100%;
            height: 50%;
            .achievement {
                padding: 8%;
                border: none;
                .number {
                    font-size: 2rem;
                    margin-bottom: 2px;
                }
                .description {
                    width: 100%;
                    height: 60%;
                }
            }
            .border-top,
            .border-bottom,
            .border-right,
            .border-left {
                display: none;
            }
        }
    }
}