@import "../../config";

.form-container {
    height: 100vh;
    width: 100vw;
    @include flex(center, center, column);
    background: $softWhite;

    .donate-form {
        @include flex(flex-start, flex-start, column);
        padding: 4% 5%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .donate-text {
            @include primary-font($heading1, 700);
            color: $darkGreen;
            margin-bottom: 3%;
        }

        .input-block {
            @include flex(flex-start, flex-start, column);
            padding: 4% 0;
            .info {
                @include secondary-font(0.8rem, 700);
                margin-bottom: 2%;
                span {
                    font-size: 0.6rem;
                    font-style: italic;
                    margin-left: 15px;
                }
            }
            input,
            .textarea {
                border: 1px solid rgb(216, 216, 216);
                border-radius: 10px;
                width: 20rem;
                padding: 0.7rem;
                @include secondary-font($description2, 400);
                transition: 0.3s all ease-in-out;
                &:focus {
                    outline: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
            .textarea {
                margin-bottom: 5%;
                resize: none;
            }
        }
        .button-container {
            @include flex(center, center, row);
            width: 100%;
            .submit-button {
                @include secondary-font(1.3rem, 700);
                color: $softWhite;
                border: 1px solid $mustardYellow;
                background: $mustardYellow;
                padding: 30px 40px;
                transition: 0.3s all ease-in-out;
                &:hover {
                    background: $softWhite;
                    color: $mustardYellow;
                }
            }
        }
    }
}
