@import "../../config";

.form-container {
    height: 100vh;
    width: 100vw;
    @include flex(center, center, column);
    background: $softWhite;

    .donate-form {
        @include flex(flex-start, flex-start, column);
        padding: 4% 5%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .donate-text {
            @include primary-font($heading1, 700);
            color: $darkGreen;
            margin-bottom: 3%;
        }

        .input-block {
            @include flex(flex-start, flex-start, column);
            padding: 4% 0;
            .info {
                @include secondary-font(0.8rem, 700);
                margin-bottom: 2%;
                span {
                    font-size: 0.6rem;
                    font-style: italic;
                    margin-left: 15px;
                }
            }
            input,
            .textarea {
                border: 1px solid rgb(216, 216, 216);
                border-radius: 10px;
                width: 20rem;
                padding: 0.7rem;
                @include secondary-font($description2, 400);
                transition: 0.3s all ease-in-out;
                &:focus {
                    outline: none;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
            }
            .textarea {
                margin-bottom: 5%;
                resize: none;
            }
        }
        .button-container {
            @include flex(center, center, row);
            width: 100%;
            .submit-button {
                @include secondary-font(1.3rem, 700);
                color: $softWhite;
                border: 1px solid $mustardYellow;
                background: $mustardYellow;
                padding: 30px 40px;
                transition: 0.3s all ease-in-out;
                &:hover {
                    background: $softWhite;
                    color: $mustardYellow;
                }
            }
        }
    }
}


@media only screen and (min-device-width: 3000px) and (max-device-width: 4000px) {
    .form-container {
        .donate-form {
            .donate-text {
                font-size: $heading1 * 2.4;
            }
            .input-block {
                .info {
                    font-size: 0.8rem * 2.4;
                    span {
                        font-size: 0.6rem * 2.4;
                    }
                }
                input,
                .textarea {
                    font-size: $description2 * 2.4;
                    padding: 0.7rem * 2.4;
                    width: 20rem * 2.4;
                }

                .textarea {
                    padding: 0.7rem * 2.4;
                }
            }

            .button-container {
                .submit-button {
                    font-size: 1.3rem * 2.4;
                    padding: 30px * 2.4 40px * 2.4;
                }
            }
        }
    }
}


@media only screen and (min-device-width: 2500px) and (max-device-width: 3000px) {
    .form-container {
        .donate-form {
            .donate-text {
                font-size: $heading1 * 1.8;
            }
            .input-block {
                .info {
                    font-size: 0.8rem * 1.8;
                    span {
                        font-size: 0.6rem * 1.8;
                    }
                }
                input,
                .textarea {
                    font-size: $description2 * 1.8;
                    padding: 0.7rem * 1.8;
                    width: 20rem * 1.8;
                }
    
                .textarea {
                    padding: 0.7rem * 1.8;
                }
            }
    
            .button-container {
                .submit-button {
                    font-size: 1.3rem * 1.8;
                    padding: 30px * 1.8 40px * 1.8;
                }
            }
        }
    }
}


@media only screen and (min-device-width: 280px) and (max-device-width: 424px) {
    .form-container {
        height: auto;
        min-height: 100vh;
        width: 100vw;
        .donate-form {
            justify-content: center;
            align-items: center;
            padding: 10% 8%;
            box-shadow: none;
            width: 100%;

        }
    }
}