@import '../../../config';

.what-we-do {
    @include flex(flex-start, flex-start, column);
    width: 50%;
    padding-right: 2%;
    .wwd-text {
        @include third-font(1rem, 700);
        color: $mustardYellow;
        letter-spacing: 0.2rem;
        margin-bottom: 20px;
    }
    .wwd-heading-text {
        @include primary-font(2.3rem, 700);
        color: $darkGreen;
        line-height: 3.2rem;
        padding-bottom: 5%;
        span {
            border-bottom: 3px solid $mustardYellow;
            font-size: 2.3rem;
        }
    }
    
    .wwd-content {
        @include flex(flex-start, flex-start, column);
        width: 100%;
        .wwd-content-section {
            @include flex(flex-start, flex-start, column);
            width: 80%;
            padding-bottom: 5%;
            .wwd-section-title {
                @include primary-font(1.1rem, 700);
                color: $darkGreen;
                margin-bottom: 15px;
                span {
                    font-size: 1.3rem;
                    font-weight: 400;
                    margin-right: 30px;
                }
            }
            .wwd-description {
                @include secondary-font(0.8rem, 400);
                    color: #7e908a;
                    line-height: 1.2rem;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) {
    .what-we-do {
        .wwd-text {
            margin-bottom: 10px;
        }
        .wwd-heading-text {
            padding-bottom: 8%;
        }
        .wwd-content {
            .wwd-content-section {
                width: 90%;
               .wwd-section-title {
                font-size: 1.3rem;
               }
               .wwd-description {
                   font-size: 0.9rem;
               }
            }
        }
    }
}

@media only screen
and (min-device-width: 280px)
and (max-device-width: 767px) {
    .what-we-do {
        width: 100%;
        padding-bottom: 7%;
        .wwd-text {

                    margin-bottom: 5px;
        }
        .wwd-heading-text {
            font-size: 2.2rem; 
            span {
                font-size: 2.2rem;
            }
            padding-bottom: 5%;
        }
        .wwd-content {
            .wwd-content-section {
                width: 100%;
               .wwd-section-title {
                font-size: 1.3rem;
               }
               .wwd-description {
                   font-size: 0.9rem;
                   line-height: 1.3rem;
               }
            }
        }
    }
}