@import "../../../config";

.who-we-are {
    @include flex(flex-start, flex-start, row);
    height: auto;
    width: 100vw;
    padding: 2% 10% 3% 10%;
    background: $softWhite;
    

    .img-container {
        width: 50%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        @include flex(flex-start, center, column);
        padding: 5%;
        width: 50%;
        height: 100vh;
        .top {
            @include flex(flex-start, flex-start, column);
            width: 100%;
            padding-bottom: 7%;
            .who-we-are-text {
                @include flex(flex-start, flex-start, row);
                @include third-font($heading2, 700);
                color: $mustardYellow;
                letter-spacing: 0.2rem;
                margin-bottom: 20px;
            }
            .we-are {
                @include primary-font($heading1, 700);
                line-height: 3.2rem;
                color: $darkGreen;
                span {
                    border-bottom: 3px solid $mustardYellow;
                    font-size: $heading1;
                }
            }
        }
        .middle {
            @include flex(flex-start, flex-start, column);
            width: 100%;
            height: auto;
            .middle-card {
                width: 100%;
                padding: 5% 0;
                .subheading {
                    @include primary-font($subHeading, 700);
                    color: $darkGreen;
                    margin-bottom: 15px;
                    span {
                        font-size: $subHeading;
                        margin-right: 30px;
                    }
                }
                .text {
                    @include secondary-font($description2, 400);
                    color: #7e908a;
                    line-height: 1.4rem;
                }

                .bible-verse {
                    @include secondary-font($description2, 400);
                    color: #7e908a;
                    line-height: 1.4rem;
                    font-style: italic;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media only screen and (max-device-height: 800px) {
    .who-we-are {
        .img-container {
            height: 120vh;
        }
        .content {
            height: 120vh;
        }
    }
}

@media only screen and (min-device-width: 3000px) and (max-device-width: 4000px) {
    .who-we-are {
        .content {
            .top {
                .who-we-are-text {
                    font-size: $heading2 * 2.4;
                }
                .we-are {
                    font-size: $heading1 * 2.4;
                    line-height: 3.2rem * 2.4;
                    span {
                        font-size: $heading1 * 2.4;
                    }
                }
            }
            .middle {
                .middle-card {
                    .subheading {
                        font-size: $subHeading * 2.4;
                        span {
                            font-size: $subHeading * 2.4;
                        }
                    }
                    .text {
                        font-size: $description2 * 2.4;
                        line-height: 1.4rem * 2.4;
                    }

                    .bible-verse {
                        font-size: $description2 * 2.4;
                        line-height: 1.4rem * 2.4;
                        margin-top: 15px * 2.4;
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 2500px) and (max-device-width: 3000px) {
    .who-we-are {
        .content {
            .top {
                .who-we-are-text {
                    font-size: $heading2 * 1.8;
                }
                .we-are {
                    font-size: $heading1 * 1.8;
                    line-height: 3.2rem * 1.8;
                    span {
                        font-size: $heading1 * 1.8;
                    }
                }
            }
            .middle {
                .middle-card {
                    .subheading {
                        font-size: $subHeading * 1.8;
                        span {
                            font-size: $subHeading * 2.4;
                        }
                    }
                    .text {
                        font-size: $description2 * 1.8;
                        line-height: 1.4rem * 1.8;
                    }

                    .bible-verse {
                        font-size: $description2 * 1.8;
                        line-height: 1.4rem * 1.8;
                        margin-top: 15px * 1.8;
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) {
    .who-we-are {
        flex-direction: column;
        .img-container {
            width: 100%;
            height: 30vh;
            img {
                object-position: 0 40%;
            }
        }
        .content {
            height: auto;
            padding: 5% 0;
            width: 100%;
            .top {
                padding: 0;
            }
            .middle {
                width: 80%;
                .middle-card {
                    .subheading {
                        font-size: 1.3rem;
                    }
                    .text {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}


@media only screen
and (min-device-width: 280px)
and (max-device-width: 767px) {
    .who-we-are {
        flex-direction: column;
        padding: 2% 0;
        .img-container {
            width: 100%;
            height: 25vh;
            img {
                object-position: 0 40%;
            }
        }
        .content {
            height: auto;
            padding: 5% 10%;
            width: 100%;
            .top {
                padding: 0 0 8% 0;
                .who-we-are-text {
                    font-size: 0.9rem;
                    margin-bottom: 5px;
                }
                .we-are {
                    font-size: 2.2rem;
                    span {
                        font-size: 2.2rem;
                    }
                }
            }
            .middle {
                width: 100%;
                .middle-card {
                    width: 100%;
                    .subheading {
                        font-size: 1.3rem;
                    }
                    .text {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}